.git
.worktrees
.turbo
.uv-cache

node_modules
**/node_modules

dist
**/dist
.next
**/.next
coverage
**/coverage

Dockerfile*
*.log
.DS_Store

docs
apps
!apps/site/
apps/site/*
!apps/site/app/
apps/site/app/*
!apps/site/app/control.html
!apps/site/app/org.html
supabase
